{% extends 'part1/base.html' %}
{% block content %}
     <div  style="width:70%;height:80%;color: lightskyblue;padding-top: 10%;">
          <p style="padding-left:40%;font-size: 3rem" class="lo">At IOT Technologies, we are working on the next generation IoT platform that will help the people who will come online. The core team has vast experience building top consumer internet brands ground up.</p>

          </div>
 <p style="padding-left:27%;padding-top:5%;font-size: 3rem;color: lightpink" class="lo">&copy;  any quiries contact iot_Techonoligies@gmail.com</p>
 <p style="padding-left:27%;font-size: 3rem;color: darkcyan" class="lo">contact +91 8096297339</p>


{% endblock  %}